@model AuroraStationApp.Models.Partita

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Partita</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataOra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataOra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Avversario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Avversario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Luogo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Luogo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoalFatti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoalFatti)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoalSubiti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoalSubiti)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartitaConclusa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartitaConclusa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
